/target
**/target
Cargo.lock.bak
*.swp
.DS_Store
# wasm-pack output
/pkg
**/pkg
node_modules
/dist/
/dance_*.png
/dance.gif
/vrm_mesh_test.png
/vrm.gif
/vrm_*.png
/assets/
/vrm_real.png
/seed_dance.gif
/seed_*.png
/seed_textured.gif
/seedtex_*.png
/seed_full.gif
/seedfull_*.png
/seed_morph.gif
/seedmorph_*.png
/seed_spring.gif
/seedspring_*.png
